/* import tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.webkit-fill {
  min-height: -webkit-fill-available;
}

.webkit-scroll {
  -webkit-overflow-scrolling: touch;
}
